/**
 * @author [贺喜]
 * @email [1440806569@qq.com]
 * @create date 2018-03-09 05:38:45
 * @modify date 2018-03-09 05:38:45
 * @desc [scss变量]
*/

// 视图默认背景
$view-bg-default: #F5F6F8;

// 文本主色
$view-text-333333: #333333;

// 主色调
$view-theme-color: #1971FF;

// 警告
$notice-color: #ED694C;

// 警告背景色
$notice-bg-color: #ffc10a;
